<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin">Início</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/listaIngredientes">Ingredientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/listaUnidades">Unidades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/listaUsuarios">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Sair</a>
    </li>
  </ul>
</nav>
<br />
